#all
{
	display: flex;
	flex-direction: column-reverse;
}

#corps
{
	padding-left: 0%;
	max-height: 50%;
	width: 100%;
}

#bandeau
{
	max-height: 50%;
	width: 100%;
}

#photo
{
	flex-grow: 0;
}

#contact
{
	flex-grow: 0;
}

#apropos
{
	flex-grow: 0;
}

#loisirs
{
	flex-grow: 0;
}

.recommandations
{
	display: flex;
	flex-direction: column;
}