.content
{
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;

}

.date
{
	width: 100%;
	margin-bottom: 3%;
}

.subcontent
{
	width: 100%;
}

.recommandations
{
	display: flex;
	flex-direction: column;
}

.subcontent p
{
	margin-top: 2%;
}